<div id="calendar"></div>

<button
  id="toggleViewButton"
  class="mt-4 px-3 py-1 text-sm bg-green-400 text-white rounded-full hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-300">
  日表示に切り替え
</button>


<form id="eventForm" class="absolute bg-white p-6 pt-8 rounded-lg shadow-md z-8 hidden w-60">
  <button
    type="button"
    id="closeEventForm"
    class="absolute top-2 right-2 z-5 text-xl font-bold text-gray-600 bg-white rounded-full w-6 h-6 flex items-center justify-center shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500"
    aria-label="閉じる"
  >&times;</button>
  <input type="text" id="eventName" class="block w-full p-2 mb-4 border border-gray-300 rounded-md" placeholder="イベント名">
  <select id="startTime" class="block w-full p-2 mb-4 border border-gray-300 rounded-md"></select>
  <select id="endTime" class="block w-full p-2 mb-4 border border-gray-300 rounded-md"></select>
  <button id="saveEvent" class="w-full p-2 bg-green-500 text-white rounded-md hover:bg-green-600">保存</button>
</form>


<div id="eventDetailsForm" class="absolute bg-white p-4 rounded-lg shadow-md z-10 hidden">
  <h2 id="eventDetailTitle" class="text-lg font-bold mb-2"></h2>
  <p id="eventDetailStart" class="mb-2"></p>
  <p id="eventDetailEnd" class="mb-2"></p>
  <button id="editEventButton" class="w-full p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">編集</button>
  <button id="deleteEventButton" class="w-full p-2 bg-red-500 text-white rounded-md hover:bg-red-600">削除</button>
</div>

