<h3 class="text-center text-3xl md:text-4xl mb-8 text-blue-800 leading-relaxed">クロノタイプとは</h3>
<div class="bg-blue-100 rounded-lg p-12 mx-auto max-w-4xl mb-12 shadow-lg">
    <ul class="list-disc pl-8 text-lg md:text-xl space-y-6 text-blue-900 leading-relaxed">
        クロノタイプは、個人の生まれつきの体内時計の特徴を反映した概念で、一般に「朝型夜型」として知られています。遺伝的要因が20〜50%を占め、年齢によっても変化します。主に4つのタイプに分類され、それぞれ活動のピーク時間や性格特性が異なります。クロノタイプを理解することで、個人の最適な睡眠リズムや生活スタイルを把握でき、健康や生産性の向上につながる可能性があります。しかし、社会的慣習とクロノタイプの不一致は、健康や業績に悪影響を及ぼす可能性があるため、個人の特性に合わせた生活リズムの調整が重要です。今回のクロノタイプチェッカーはアメリカの睡眠に関する専門家であるマイケル・ブレウス博士が提唱しているクロノタイプを参考にしています。
    </ul>
</div>

<h3 class="text-center text-3xl md:text-4xl mb-8 text-green-800 leading-relaxed">◯マイケルブレウス博士によるクロノタイプ</h3>
<div class="bg-green-100 rounded-lg p-12 mx-auto max-w-4xl mb-12 shadow-lg">
    <ul class="list-disc pl-8 text-lg md:text-xl space-y-6 text-green-900 leading-relaxed">
        マイケルブレウス博士は、アメリカの臨床心理学者で睡眠の専門家です。マイケルブレウス博士が研究したクロノタイプは、個人の体内時計に基づく生活リズムを4つのタイプに分類したものです。ライオン型（朝型）、クマ型（昼型）、オオカミ型（夜型）、イルカ型（不眠型）の4つがあり、それぞれ活動のピーク時間や性格特性が異なります。クロノタイプは主に遺伝的要因によって決まりますが、年齢によっても変化する可能性があります。自分のクロノタイプを理解することで、最適な睡眠リズムや生活スタイルを把握し、健康、幸福度、生産性の向上につながる可能性があります。ブレウス博士は、各タイプに合わせた理想的な日々のルーティンを提案しており、これに従うことでパフォーマンスを最大化できるとしています。
    </ul>
</div>

<h3 class="text-center text-3xl md:text-4xl mb-8 text-yellow-800 leading-relaxed">◯最後に</h3>
<div class="bg-yellow-100 rounded-lg p-12 mx-auto max-w-4xl mb-12 shadow-lg">
    <ul class="list-disc pl-8 text-lg md:text-xl space-y-6 text-yellow-900 leading-relaxed">
        クロノタイプチェッカーはあくまでクロノタイプを知るきっかけになって欲しいという想いで作成させていただきました。今回の判定結果が皆様の興味を引き出すための第一歩となれば幸いです。ただし、このチェッカーは専門家が監修したものではなく、あくまで一般的な情報に基づいて作成された簡易的なツールです。そのため、結果の正確性や信頼性には限界があることをご理解ください。クロノタイプは個人の生活や健康に大きく影響する可能性がある興味深いトピックです。このチェッカーを出発点として、自分自身のリズムについてより深く理解を深めていただければ幸いです。ただし、生活習慣の大きな変更や健康に関する重要な決定を行う際は、必ず専門家にご相談ください。
        最後に、クロノタイプを知る人が増え、さまざまなリズムを持つ人々が互いに理解し合い、尊重する社会が実現されることを心から願っています。異なるクロノタイプを持つ人々が、それぞれの生活スタイルを大切にしつつも、共に調和のとれた社会を築いていくことができれば、より豊かで多様な社会が実現されるでしょう。
    </ul>
</div>

<h3 class="text-center text-3xl md:text-4xl mb-8 text-purple-800 leading-relaxed">参考にした文献・webサイト</h3>
<div class="bg-purple-100 rounded-lg p-12 mx-auto max-w-4xl mb-12 shadow-lg">
    <ul class="list-disc pl-8 text-lg md:text-xl space-y-6 text-purple-900 leading-relaxed">
        ・マイケル・ブレウス.訳 長谷川 圭.The Power of When Discover Your Chronotype 最良の効果を得るタイミング.パンローリング株式会社 2020年初版
        <br>・<a href="https://shop.sleepdoctor.com/pages/at-home-sleep-apnea-test?_gl=1*9kt6ff*_gcl_au*MTUxODM1NDU1MS4xNzM4OTI4NTAz" target="_blank" rel="noopener noreferrer">マイケル・ブレウス .SLEEP QUIZ.SLEEP DOCTOR</a>
    </ul>
</div>

<div class="flex justify-center mt-8">
    <%= link_to tops_path, class: "items-center relative overflow-hidden rounded-md bg-blue-500 px-3 py-4 text-lg text-white duration-300 hover:bg-blue-600 active:translate-y-[2px]" do %>
        トップページに戻る
    <% end %>
</div>
