<div class="container mx-auto px-4 md:px-8 lg:px-12 bg-amber-50 min-h-screen py-8">
  <p class="text-2xl mb-6 text-center text-amber-800 leading-relaxed">クマ型の特徴</p>
  <div class="flex flex-col md:flex-row items-center mb-12 w-full">
    <%= image_tag 'kuma.png', class: "w-80 h-70 shadow-lg mb-6 md:mb-0 md:mr-8", alt: "クマ型" %>
    <div class="flex-grow flex flex-col items-center">
      <p class="text-2xl mb-6 text-amber-700 leading-relaxed">クマ型に多い性格</p>
      <div class="bg-amber-200 rounded-full px-8 md:px-50 py-12 flex items-center relative">
        <span class="text-amber-800 font-semibold text-2xl md:text-4xl text-center leading-relaxed">用心深い、外交的、友好的、心が広い</span>
      </div>
    </div>
  </div>

  <h3 class="text-center text-3xl md:text-4xl mb-8 text-amber-800 leading-relaxed">クマ型のライフスタイル</h3>
  <div class="bg-amber-100 rounded-lg p-12 mx-auto max-w-4xl">
    <ul class="list-disc pl-8 text-xl md:text-2xl space-y-6 text-amber-900 leading-relaxed">
      <li>睡眠時間：7~8時間</li>
      <li>起床時間：午前6時30分~7時の間</li>
      <li>運動：起きてからすぐが理想。</li>
      <li>コーヒーを飲むと良い時間：午前10時頃。</li>
      <li>集中したいタスクをする時間：午前10時〜午後2時の間</li>
      <li>就寝時間：午後11時~11時30分時頃</li>
    </ul>
  </div>

  <h3 class="text-center text-3xl md:text-4xl mb-8 mt-12 text-amber-800 leading-relaxed">クマ型のトリセツ</h3>
  <div class="rounded-lg p-12 mx-auto max-w-4xl mt-8 bg-amber-100">
    <p class="text-xl md:text-2xl leading-relaxed text-amber-900">
      クマ型は人口の約50%を占める最も一般的なクロノタイプで、体内時計が太陽の動きに合わせて機能します。朝型で午前中に最も活力があり、午前10時から午後2時の間に最高のパフォーマンスを発揮しますが、午後になると眠気が増し、効率が低下する傾向があります。性格は親切開放的ですが、初対面の人や新しい環境では緊張しやすく、7時間以上の睡眠を必要とし、午後11時就寝、午前7時起床が理想的なリズムとされています。
    </p>
  </div>

  <div class="text-center mt-12 mb-20">
    <p class="text-xl font-bold mb-6 text-amber-800 leading-relaxed">クマ型のあなたに合わせたタイムスケジュール表を作成します！</p>
    <div class="flex justify-center space-x-8">
      <!-- スケジュール表作成ボタン -->
      <div class="flex flex-col items-center">
        <%= link_to question_first_index_path, class: "items-center relative overflow-hidden rounded-md bg-blue-500 px-6 py-3 text-white duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] active:scale-x-[1.05] active:scale-y-[0.95]" do %>
          スケジュール表を作成する
        <% end %>
      </div>
    </div>
  </div>
</div>
