<h1>質問パート１お疲れ様でした。質問パート１で「YES」が７つ以上の人は「イルカ型」と判定されます。</h1>

<%= link_to question_second_path, class: "items-center relative overflow-hidden rounded-md bg-blue-400 px-4 py-5 text-xl text-white duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-1 active:scale-x-110 active:scale-y-90" do %>
            質問パート２へ
          <% end %>